.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 2rem 3rem;
  box-sizing: border-box;

}

.container h2 {
  font-size: 7rem;
  width: 60%;
  text-align: left;
  margin: 0;
}

.container p {
  width: 50%;
  font-size: 2rem;
  text-align: left;
  margin: 2rem 0;
}


