.App-header {
  height: 100vh;
  background-color: #1F2535;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}
